body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: rgb(70, 94, 231);
  background: linear-gradient(
    0deg,
    rgb(230, 230, 235) 0%,
    rgb(0, 38, 255) 100%
  );
}

main {
  flex: 2;
}

section {
  max-width: 800px;
  margin: 50px auto;
  font-size: 2em;
  padding: 1em;
}
